In [57]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd

In [58]:
#storing URLs as variables
news_url = 'https://mars.nasa.gov/news/'
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
weather_url = 'https://twitter.com/marswxreport?lang=en'
facts_url = 'http://space-facts.com/mars/'

In [59]:
#---------------------------------------
#-------------PULLING NEWS--------------
#---------------------------------------

html = requests.get(news_url)
soup = BeautifulSoup(html.text, 'html.parser')

news_title = soup.find("", {"class": "content_title"})
news_title = news_title.a.text
news_title = news_title.strip()
news_title

'NASA Invests in Visionary Technology'

In [80]:
html = requests.get(news_url)
soup = BeautifulSoup(html.text, 'html.parser')

news_title = soup.find_all(class_='article_teaser_body')
news_title

[]

In [133]:
#---------------------------------------
#-----------SCRAPING IMAGES-------------
#---------------------------------------

executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(image_url)
browser.click_link_by_id('full_image')

html = browser.html
soup = BeautifulSoup(html, 'html.parser')
picture = soup.find('div', class_="fancybox-image")

None

In [102]:
html = requests.get(weather_url)
soup = BeautifulSoup(html.text, 'html.parser')

mydivs = soup.find("p", {"class": "TweetTextSize TweetTextSize--normal js-tweet-text tweet-text"})
mydivs.text

'Sol 2026 (April 18, 2018), Sunny, high -6C/21F, low -73C/-99F, pressure at 7.19 hPa, daylight 05:26-17:21'

In [103]:
fact_table = pd.read_html(facts_url)
fact_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [104]:
mars_stats_df = fact_table[0]
mars_stats_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [105]:
mars_stats_df.columns = ["Statistic","Value"]

In [106]:
mars_stats_df.set_index("Statistic", inplace=True)

In [107]:
mars_stats_df

                                              Value
Stat
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [ ]:
#-------------

In [ ]:
cerberus_image_url = https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg
schiaparelli_image_url = https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg">
syrtis_major_image_url = https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg">
valles_marineris_image_url = https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg">